* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Kanit", sans-serif;
}

body {
    background: var(--bg-theme);
}

a {
    text-decoration: none;
    color: unset;
}

button,
input {
    outline: 0;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

iframe {
    border: 0;
    border-radius: 0.6rem;
}

.container {
    margin: auto;
    padding: 0 12px;
    max-width: 1660px;
    @include min-width-992 {
        max-width: 960px;
    }
    @include min-width-1200 {
        max-width: 1140px;
    }
    @include min-width-1400 {
        max-width: 1320px;
    }
    @include min-width-1600 {
        max-width: 1540px;
    }
    @include min-width-1920 {
        max-width: 1780px;
    }
}

.yellow {
    color: yellow;
}

.display-none {
    display: none;
}

.bg-transparent {
    background: rgba($color: #333333, $alpha: 0.6);
}

.relative {
    position: relative;
}

.ant {
    &-layout {
        &-sider {
            @include max-width-576 {
                max-width: 50px !important;
                min-width: 50px !important;
            }
        }
        &-main {
            padding: 24px 0 24px 24px;
            @include max-width-992 {
                padding: 24px 0 24px 16px;
            }
        }
        &-header {
            display: flex;
            gap: 12px;
            @include max-width-768 {
                flex-direction: column;
            }
            @include min-width-768 {
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &-modal {
        width: 100% !important;
        max-width: 1024px;
    }
    &-layout {
        background: transparent;
    }
}

.h-full {
    height: 100%;
}

.mt-auto {
    margin-top: auto;
}

.mb-3 {
    margin-bottom: 16px;
}

.px-3 {
    padding-left: 16px;
    padding-right: 16px;
}

.btn-logout {
    width: calc(100% - 8px);
    margin: 4px;
    padding: 0 16px 0 24px;
    height: 40px;
    
    @include max-width-992 {
        &-title {
            display: none !important;
        }
    }
    @include min-width-992 {
        text-align: start;

    }
}

.btn-search {
    @include min-width-768 {
        flex: 1;
        max-width: 480px;
    }
    .ant-input-affix-wrapper {
        height: 48px;
        border: none;
        border-radius: 32px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
        @include max-width-576 {
            height: 38px;
        }
    }
}

@keyframes dropdown{
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}