.info {
    &__backdrop {
        aspect-ratio: 15/5;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 32px 32px 0 0;
        position: relative;
        @include max-width-768 {
            aspect-ratio: 16/9;
            border-radius: 24px 24px 0 0;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, var(--bg-theme), transparent);
        }
    }
    &__wrapper {
        position: relative;
        gap: 32px;
        @include max-width-1400 {
            gap: 20px;
        }
        @include min-width-992 {
            display: flex;
        }
        &--poster {
            flex-shrink: 0;
            @include max-width-992 {
                display: none;
            }
            img {
                aspect-ratio: 5/7;
                width: 248px;
                height: auto;
                border-radius: 32px;
                @include max-width-1400 {
                    width: 212px;
                    border-radius: 24px;
                }
            }
        }
        &--btn {
            margin-top: 24px;
            @include max-width-1400 {
                margin-top: 18px;
            }
        }
        &--overview {
            margin-top: 24px;
            font-weight: 300;
            @include max-width-1400 {
                margin-top: 18px;
            }
            @include min-width-576 {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &--genre {
            margin-top: 24px;
            @include max-width-1400 {
                margin-top: 18px;
            }
            .swiper {
                margin-left: unset;
                margin-right: unset;
                &-slide {
                    padding: 2px 14px;
                    width: auto;
                    font-weight: 300;
                    border: 1px solid var(--border-theme);
                    border-radius: 24px;
                }
            }
        }
        &--play {
            margin-top: 24px;
            @include max-width-1400 {
                margin-top: 18px;
            }
            @include min-width-992 {
                display: none;
            }
        }
    }
}

.stars {
    --star-size: 16px;
    --star-color: #DEDFE0;
    --star-background: #F5B800;
    --percent: calc(var(--rating) / 10 * 100%);
    
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;
    
    &::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}