.play {
    &__wrapper {
        position: relative;
        iframe {
            margin-bottom: 16px;
        }
        button {
            background: var(--bg-theme);
            color: var(--border-theme);
        }
        &--reviews {
            margin-top: 48px;
            &__list {
                padding: 32px 24px;
                background-color: --bg-theme;
                border-radius: 32px;
                box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
            }
            &__item {
                margin-bottom: 16px;
                padding-bottom: 16px;
                border-bottom: 2px solid #f5f5f5;
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
                &--user {
                    line-height: 14px;
                    & > p:first-child {
                        font-weight: 600;
                    }
                }
                &--content {
                    margin-top: 8px;
                }
            }
        }
        &--recommendation {
            margin-top: 48px;
        }
    }
}